footer {
  .footerContainer {
    max-width: 1220px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-weight: normal;
      font-size: 14px;
      color: #000000;
    }
  }
}
